<h1>Welcome to Air Quality Alert</h1>


<p>Get started by clicking on Register</p>
<p>You can check air quality by clicking on Air Quality Alert</p>
<p>Edit your city or air quality threshold by clicking on edit account</p>
