  <section class="row g-2">
    <table class="table row g-2">
      <thead>
        <tr class="row">
          <th class="col-2">Level Of Concern</th>
          <th class="col-2">Values of Index</th>
          <th class="col-4">Description of Air Quality</th>
        </tr>
      </thead>

      <!-- On cells (`td` or `th`) -->
      <tr class="table-success">
        <td class="col-1">Good</td>
        <td class="col-1">0-50</td>
        <td class="col-4">Air quality is considered satisfactory, and air pollution poses little or no risk</td>
      </tr>
      <tr class="table-default">
        <td>Moderate</td>
        <td>51-100</td>
        <td>Air quality is acceptable; however, for some pollutants there may be a moderate health concern for a very small number of people who are unusually sensitive to air pollution.</td>
      </tr>
      <tr class="table-warning">
        <td>Unhealthy for Sensitive Groups</td>
        <td>101-150</td>
        <td>Members of sensitive groups may experience health effects. The general public is not likely to be affected.</td>
      </tr>
      <tr id="table-warning-danger">
        <td>Unhealthy</td>
        <td>151-200</td>
        <td>Everyone may begin to experience health effects; members of sensitive groups may experience more serious health effects</td>
      </tr>
      <tr class="table-danger">
        <td>Very Unhealthy</td>
        <td>201-300</td>
        <td>Health warnings of emergency conditions. The entire population is more likely to be affected.</td>
      </tr>
      <tr class="table-dark">
        <td>Hazardous</td>
        <td>300+</td>
        <td>Health alert: everyone may experience more serious health effects</td>
      </tr>
    </table>
  </section>
